* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

ul {
    list-style: none;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.header {
    color: #f9faf8;
    background: #1f2937;

    font-size: 24px;

    padding: 32px 300px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: flex;

    font-size: 18px;
    gap: 64px;
}
